

.form-input {
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.submit-btn {
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    
}

.submit-btn:hover {
    background-color: #e4510d;
}



